* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: /*linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),*/ url(images/bakcground-image.JPG);
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}

h2 {
  text-decoration: underline;
  font-size: 32px;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 60px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #4169e1;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: black;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #fff;
  background: #4169e1;
  transition: 1s;
}

.recycle {
  color: #53a318;
}

.hero-btn-1 {
  display: inline-block;
  text-decoration: none;
  color: #53a318;
  border: 1px solid #123429;
  padding: 6px 17px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn-1:hover {
  border: 1px solid #bcdf3f;
  background: #bcdf3f;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #4169e1;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
/*---- Service----*/

.service {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.service-col {
  flex-basis: 31%;
  background: #4fc3f7;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.service-col-2 {
  flex-basis: 31%;
  background: #bcdf3f;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.recy-col {
  outline: 2px solid black;
  background-image: url(images/Amim-green.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 14%;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px;
  text-decoration: underline;
}

.service-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.service-col-2:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
